@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

header {
    padding-left: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
}

header img {
    width: 120px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caixa-conteudo {
    display: flex;
    flex-direction: column;
    width: 30%; 
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 20px 3px rgba(222, 218, 218, 0.5);
    gap: 15px;
    border-radius: 10px;
}

.caixa-conteudo h1 {
    padding-right: 260px;
    padding-top: 40px;
}

.acessos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.acessos img {
    width: 20px;
}

.acessos button {
    width: 350px;
    height: 50px;
    border-radius: 40px;
    background-color: #fff;
    font-size: 15px;
    transition: 0.7 ease;
}

.acessos button:hover {
    background-color: #f7f3f3;
}

.apple {
    color: #7a7979;
    font-weight: 500;
}

.caixa-conteudo p {
    font-size: 15px;
    padding: 0 37px;
    font-weight: 350;
}

.caixa-conteudo p span {
    color: rgb(44, 44, 224);
    text-decoration: none;
}

.divisao {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

hr {
    border: 1px solid #f4f4f4;
    width: 100%;
}

.infomarcoes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.infomarcoes p {
    color: rgb(24, 105, 211);
}

.conexoes {
    display: flex;
}

.conexoes input {
    width: 30px;
    font-size: 20px;
}

.entrar {
    height: 60px;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(57, 86, 166);
    margin-bottom: 30px;
}

.email {
    width: 350px;
    height: 55px;
    padding-left: 20px;
    border-radius: 5px;
    border: 1px solid #c6c1c1;
    font-size: 20px;
}

.cadastro {
    display: flex;
    margin: 20px 0;
}

.cadastro span {
    color: rgb(44, 44, 224);
    font-weight: bold;
}

footer {
    margin-top: 20px;
    padding: 20px 40px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0 20px;
}
